.qubu{
        height: 800px;
        width: 1500px;
        margin:auto;
       margin-top: 50px; 
    }
    
img{
	width: 1000px;
	height: 500px; 
	margin-top:60px;
	margin-left:150px;
}            
.ziti{
	width: 1200px;       
  	height: 200px;       
    margin-top:40px;
    margin-left:120px;
    }   
h3{
	 margin-left:320px;        
}
 